<section id="content">
    <div class="row">
      <div class="col col-lg-4 col-offset-4 m-t-large">
        <section class="panel">
          <header class="panel-heading text-center">相交您的邻居</header>
          <form name="formUserInfo" class="padder">

            <div class="block">
                <error-block error="error"></error-block>
            </div>
            <div class="block">
                <label class="control-label"> <strong>你居住的地方</strong>
                </label>
                <select placeholder="你所居住的地方" ng-model="userinfo.community" ng-options="c.community for c in communitys" required>
                </select>
            </div>
            <div class="block">
                <label class="control-label"> <strong>地址</strong>
                </label>
                <input type="text" name="address" placeholder="地址" class="input-block-level" ng-model="userinfo.address" required />
            </div>

            <div class="line line-dashed"></div>

            <button btn1 type="submit" class="btn btn-block btn-primary" ng-click="save(userinfo)" ng-model="loading" ng-disabled="formUserInfo.$invalid" dataloadin="正在保存...">
                保存
            </button>
            
            
          </form>
        </section>
      </div>
    </div>
</section>