<nav time-list id="nav" class="nav-primary visible-lg bg-light nav-vertical"></nav>

<section id="content" ng-controller="GroupQueryJCtrl">
	<main class="main">
		<div class="row">
			<ng-include src="'/views/group/toolbar.v1.html'"></ng-include>

			
			<div class="col col-lg-8">
				

				<div class="row">
					<div class="col col-sm-8">
						<a href="/groups/{{group._id}}" class="h4">@{{group.name}} 邻居广播 </a>
						<a href="/groups/{{group._id}}/members" class="btn btn-white"><i class="icon-user"></i>{{group.users.length}}个成员</a>
					</div>
					<div class="col col-sm-4 ">
						<a class="btn btn-primary pull-right" ng-controller="GroupCtrl" ng-click="join(group._id)" ng-show="!has(group.users, user._id) && group.access == 1">加入</a>
						<div class="btn-group pull-right" ng-show="has(group.users, user._id) || group.user == user._id" ng-controller="GroupCtrl">
							<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
								操作
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<a href="/groups/{{group._id}}/members" ng-show="group.user == user._id">邀请邻居</a>
								</li>
								<li>
									<a href="javascript:void(0);" ng-click="join(group._id)" ng-show="has(group.users, user._id) && group.user != user._id">取消加入</a>
								</li>
								<li class="divider " ng-show="group.user == user._id"></li>
								<li>
									<a href="javascript:void(0);" ng-show="group.user == user._id" ng-click="delete(group._id)">删除圈子</a>
								</li>
							</ul>
							<messagebox title="group_error.title" content="group_error.content"></messagebox>
						</div>
					</div>
				</div>

				<div class="line line-dashed"></div>

				<section class="comment-list block">
					<ng-include src="'/views/timeline/form-group.v1.html'"></ng-include>

					<div class="line"></div>

					<!-- timeline-item -->
					<ng-include src="'/views/timeline/list.v1.html'"></ng-include>

				</section>

			</div>
		</div>
	</main>
</section>
