<nav time-list id="nav" class="nav-primary visible-lg bg-light nav-vertical"></nav>

<section id="content" ng-controller="GroupQueryJCtrl">
	<main class="main">
		<div class="row">
			<ng-include src="'/views/group/toolbar.v1.html'"></ng-include>

			
			<div class="col col-lg-8">
				

				<div class="row" ng-include="'/views/group/group-actions-bar.v1.html'">
				</div>

				<div class="line line-dashed"></div>

				<section class="comment-list block">
					<ng-include src="'/views/timeline/form-group.v1.html'"></ng-include>

					<div class="line"></div>

					<!-- timeline-item -->
					<ng-include src="'/views/timeline/list.v1.html'"></ng-include>

				</section>

			</div>
		</div>
	</main>
</section>
