<nav time-list id="nav" class="nav-primary visible-lg bg-light nav-vertical"></nav>

<section id="content" ng-controller="GroupQueryJCtrl">
	<main class="main">
		<div class="row">
			<ng-include src="'/views/group/toolbar.v1.html'"></ng-include>

			<div class="col col-lg-8">

				<div class="row" ng-include="'/views/group/group-actions-bar.v1.html'">
				</div>

				<div class="line line-dashed"></div>

				<section class="panel" ng-controller="GroupCtrl" >
					<header class="panel-heading">
						<div class="text-small block" ng-controller="GroupMemberCtrl">
							<input type="text" class="input-small" placeholder="搜索您的邻居" ng-model="neighbor_selected" typeahead="neighbor as neighbor.username for neighbor in search($viewValue, group._id)">
						</div>
					</header>
					<ul class="list-group list-group-flush m-t-n">
						<li class="list-group-item" ng-class-odd="bg" ng-repeat="m in members">
							<div class="media">
								<span class="pull-left thumb-small">
									<img ng-src="{{m.avatar}}" alt="{{m.username}}" class="img-rounded"></span>
								<div class="pull-right m-t-small" ng-show="group.user == user._id">
									<a href="#" class="btn btn-soonseen btn-mini dropdown-toggle" data-toggle="dropdown"> 
										<i class="icon-caret-down"></i>
									</a>
									<ul class="dropdown-menu" style="margin-top:-15px;">
										<li>
											<a href="javascript:void(0);" ng-click="kick(group._id, m._id)">踢出圈子</a>
										</li>
									</ul>
								</div>
								<div class="media-body">
									<div>
										<a href="#" class="h5">{{m.username}}</a>
									</div>
									<small class="text-muted">{{m.addresses[0].address}}</small>
								</div>
							</div>
						</li>
						
					</ul>
				</section>
			</div>
		</div>
	</main>
</section>